{% extends 'base.html' %}
{% load static %}

{% block title %}
분리수거 계산기
{% endblock title %}

{% block content %}
<div class="cal__title">
    <h3>분리수거 계산기</h3>
    <p>여러분의 분리수거로 남는 전력</p>
</div>
<div class="item__list">
    <ul class="main">
        <li><span>플라스틱</span>
            <div class="menu">
                <ul class="sub">
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="플라스틱 우유병">
                            <img src="{% static 'img/bottle.png' %}" width="50px">플라스틱 우유병
                        </button>
                    </li>
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="플라스틱 세제통">
                            <img src="{% static 'img/bottle.png' %}" width="50px">플라스틱 세제통
                        </button>
                    </li>
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="500ml 페트병">
                            <img src="{% static 'img/bottle.png' %}" width="50px">500ml 페트병
                        </button>
                    </li>
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="2L 페트병">
                            <img src="{% static 'img/bottle.png' %}" width="50px">2L 페트병
                        </button>
                    </li>
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="비닐봉지">
                            <img src="{% static 'img/plastic-bag.png' %}" width="50px">비닐봉지
                        </button>
                    </li>
                </ul>
            </div>
        </li>
        <li>유리
            <div class="menu">
                <ul class="sub">
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="유리병">
                            <img src="{% static 'img/alcohol.png' %}" width="50px">유리병
                        </button>
                    </li>
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="와인병">
                            <img src="{% static 'img/alcoholic-drink.png' %}" width="50px">와인병
                        </button>
                    </li>
                </ul>
            </div>
        </li>
        <li>금속
            <div class="menu">
                <ul class="sub">
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="알루미늄 캔">
                            <img src="{% static 'img/can.png' %}" width="50px">알루미늄 캔
                        </button>
                    </li>
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="양철캔">
                            <img src="{% static 'img/canned-food.png' %}" width="50px">양철캔
                        </button>
                    </li>
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="옷걸이">
                            <img src="{% static 'img/clothes-hanger.png' %}" width="50px">옷걸이
                        </button>
                    </li>
                </ul>
            </div>
        </li>
        <li>종이
            <div class="menu">
                <ul class="sub">
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="박스">
                            <img src="{% static 'img/box.png' %}" width="50px">박스
                        </button>
                    </li>
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="신문">
                            <img src="{% static 'img/newspaper_2.png' %}" width="50px">신문
                        </button>
                    </li>
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="A4 용지">
                            <img src="{% static 'img/paper_1.png' %}" width="50px">A4 용지
                        </button>
                    </li>
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="책">
                            <img src="{% static 'img/paper_1.png' %}" width="50px">책
                        </button>
                    </li>
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="잡지">
                            <img src="{% static 'img/paper_1.png' %}" width="50px">잡지
                        </button>
                    </li>
                    <li>
                        <button type="button" class="add_btn" onclick="addItem(this.id)" id="카탈로그">
                            <img src="{% static 'img/paper_1.png' %}" width="50px">카탈로그
                        </button>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div class="peek__items">
    <div class="bucket">
        <form action="{% url 'calculator:home' %}" method="POST">
            {% csrf_token %}
            <table class="item__table" border="0" cellspacing="0" cellpadding="0" id="items_table">
                <thead bgcolor="#C8E3FF">
                    <th scope="col">&nbsp;</th>
                    <th scope="col">이름</th>
                    <th scope="col">수량</th>
                    <th scope="col">종류</th>
                    <th scope="col">&nbsp;</th>
                </thead>
                <tbody id='table-body'>
                </tbody>
            </table>
            <div class="total">
                <h3>얼마나 지구를 아껴줬을까?</h3>
            </div>
            <input type="submit" value="결과 확인하기">
        </form>
    </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}