body {
  margin: 0;
  padding: 0;
}

/* typo */
h1 {
  font-size: 36px;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

/* HTML */

header {
  align-items: center;
  text-align: center;
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
}

.main__icon {
  align-items: center;
  display: flex;
}

.main__icon img {
  margin-right: 30px;
  width: 40px;
  height: 40px;
}

.main__icon h1 {
  color: rgb(255, 196, 0);
  font-size: 24px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  display: flex;
  margin: 0 50px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

.navbar ul a img {
  padding-right: 12px;
}

.navbar ul li img {
  width: 30px;
  height: 30px;
}

.user__profile img {
  width: 30px;
  height: 30px;
}

/* container */

/* category */
.cal__title {
  margin-top: 50px;
  text-align: center;
}

.item__list {
  height: 80px;
}
.item__list .main {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.item__list .main > li {
  float: left;
  width: 20%;
  height: 80px;
  line-height: 50px;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.item__list .main > li:hover .menu {
  display: block;
}

.item__list .menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  display: none;
}

.menu__box {
  display: flex;
  flex-direction: column;
}

.item__list .sub {
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
}

.item__list .sub li {
  width: 100%;
  height: 80px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_name {
  display: none;
}

.add_item {
  width: 20px;
  margin: 0 15px;
}

.item__list .sub li button:hover {
  color: red;
}

/* Peek__items */
.peek__items {
  justify-content: center;
  position: relative;
  top: 200px;
}

.bucket {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  background-color: #f96;
}

.items__bucket {
  width: 100%;
}
