{% extends 'base.html' %}
{% load static %}
{% block title %}
{{user.name}}님의 프로필
{% endblock title %}
{% block content %}
<div class="profile">
    <div class="bg"></div>
    <div class="profile_title">
        <p>My Profile</p>
    </div>
    <div class="profile_content">
        <div class="profile_content_img">
            {% if user.level == 1 %}
            <img src="{% static 'img/level1.png' %}">
            {% endif %}
            {% if user.level == 2 %}
            <img src="{% static 'img/level2.png' %}">
            {% endif %}
            {% if user.level == 3 %}
            <img src="{% static 'img/level3.png' %}">
            {% endif %}
            {% if user.level == 4 %}
            <img src="{% static 'img/level4.png' %}">
            {% endif %}
            {% if user.level == 5 %}
            <img src="{% static 'img/level5.png' %}">
            {% endif %}


        </div>
        <table id="profile_content_table">
            <tr>
                <td class="type">이름</td>
                <td class="content">{{user.name}}</td>
            </tr>
            <tr>
                <td class="type">닉네임</td>
                <td class="content">{{user.nickname}}</td>
            </tr>
            <tr>
                <td class="type">이메일</td>
                <td class="content">{{user.email}}</td>
            </tr>
            <tr>
                <td class="type">소개글</td>
                <td class="content">{{user.content}}</td>
            </tr>
            <tr>
                <td class="type">마일리지</td>
                <td class="content">{{user.mileage}}</td>
            </tr>
            <tr>
                <td class="type">레벨</td>
                <td class="content">{{user.level}}</td>
            </tr>
            <tr>
                <td class="type">성별</td>
                <td class="content">{% if user.gender is 0 %}
                    남성
                    {% endif %}
                    {% if user.gender is 1 %}
                    여성
                    {% endif %}
                    {% if user.gender is 2 %}
                    숨김
                    {% endif %}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock content %}