{% extends 'base.html' %}

{% block title %}
Challenges
{% endblock title %}

{% block content2 %}
{% load static %}
<div class="chhome">
    <div class="chhome_chcon">
        <div class="chhome_left">
            <div class="chhome_mych">
                <p>진행중인 챌린지</p>
                <ul>
                    <li>용기내 챌린지</li>
                    <li>용기내 챌린지</li>
                    <li>용기내 챌린지</li>
                </ul>
            </div>
            <div class="chhome_chlank">
                <p>인기 챌린지</p>
                <ol>
                    <li>용기내 챌린지</li>
                    <li>용기내 챌린지</li>
                    <li>용기내 챌린지</li>
                </ol>
            </div>
        </div>
        <div class="chhome_right">
            <div class="chhome_chlist">
                <div class="chhome_chas">
                    <div class="chimg"><img src="{% static 'img/tumbler.png' %}"></div>
                    <div class="chtext">
                        <p id="chname">용기내</p>
                        <p>10/100</p>
                    </div>
                    <button type="submit" id="info___button">참여하기</button>
                </div>
                <div class="chhome_chas">
                    <div class="chimg"><img src="{% static 'img/tumbler.png' %}"></div>
                    <div class="chtext">
                        <p id="chname">용기내</p>
                        <p>10/100</p>
                    </div>
                    <button type="submit">참여하기</button>
                </div>
                <div class="chhome_chas">
                    <div class="chimg"><img src="{% static 'img/tumbler.png' %}"></div>
                    <div class="chtext">
                        <p id="chname">용기내</p>
                        <p>10/100</p>
                    </div>
                    <button type="submit">참여하기</button>
                </div>
                <div class="chhome_chas">
                    <div class="chimg"><img src="{% static 'img/tumbler.png' %}"></div>
                    <div class="chtext">
                        <p id="chname">용기내</p>
                        <p>10/100</p>
                    </div>
                    <button type="submit">참여하기</button>
                </div>
                <div class="chhome_chas">
                    <div class="chimg"><img src="{% static 'img/tumbler.png' %}"></div>
                    <div class="chtext">
                        <p id="chname">용기내</p>
                        <p>10/100</p>
                    </div>
                    <button type="submit">참여하기</button>
                </div>
                <div class="chhome_chas">
                    <div class="chimg"><img src="{% static 'img/tumbler.png' %}"></div>
                    <div class="chtext">
                        <p id="chname">용기내</p>
                        <p>10/100</p>
                    </div>
                    <div class="join">
                        <button type="submit">참여하기</button>
                    </div>
                </div>
                <div class="chhome_chas">
                    <div class="chimg"><img src="{% static 'img/tumbler.png' %}"></div>
                    <div class="chtext">
                        <p id="chname">용기내</p>
                        <p>10/100</p>
                    </div>
                    <button type="submit">참여하기</button>
                </div>

            </div>
        </div>
    </div>

</div>
<script>
    document.getElementById("info___button").onclick = function () { gotoInfo() };
    function gotoInfo() {
        window.open("/challenge/info", "_self");
    }
</script>

{% endblock content2 %}